body {
  margin: 0;
  background-color: #eaeaea;
  font-family: 'Noto Sans', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.inactive {
  width: 40rem;
  height: 25rem;
  border-radius: 30px;
  /*border: 3px solid #7575FF;*/
  background: #eaeaea;
  box-shadow:  5px 5px 10px #c7c7c7, 
             -5px -5px 10px #ffffff;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  width: 5rem;
  height: 3rem;
  
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  text-align: center;

  border: none;
  border-radius: 30px;
  border: 1px solid #0F8AD2;
  background: #eaeaea;
  box-shadow: 5px 5px 10px #c7c7c7, 
             -5px -5px 10px #ffffff;
}

input:focus {
  outline: none;
  background: #eaeaea;
  box-shadow: inset 5px 5px 10px #c7c7c7, 
            inset -5px -5px 10px #ffffff;
}

h1 {
  color: #4D4D4D;
}